<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>
		{% block title %}FancyLamp{% endblock %}
	</title>
</head>
<body>
	{% block body %}Hello, browser!{% endblock %}
</body>
</html>
